<ul
  class="navbar-nav sidebar sidebar-dark accordion"
  id="accordionSidebar"
  style="background-color: #1a252f"
>
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center my-3"
    href="index.html"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-tree text-success"></i>
    </div>
    <div class="sidebar-brand-text mx-3">ARBOMAP <sup>UTM</sup></div>
  </a>
  
  <hr class="sidebar-divider my-0" />
  
  <li class="nav-item">
    <a class="nav-link" href="index.html"
      ><i class="fas fa-fw fa-tachometer-alt"></i><span>Panel General</span></a
    >
  </li>
  
  <hr class="sidebar-divider" />
  <div class="sidebar-heading">GESTIÓN OPERATIVA</div>
  
  <li class="nav-item">
    <a class="nav-link" href="mapa.html"
      ><i class="fas fa-fw fa-map-marker-alt"></i
      ><span>Mapa Interactivo</span></a
    >
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="inventario.html"
      ><i class="fas fa-fw fa-seedling"></i><span>Inventario Árboles</span></a
    >
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="reforestacion.html"
      ><i class="fas fa-fw fa-calendar-alt"></i><span>Reforestación</span></a
    >
  </li>

  <li class="nav-item admin-only">
    <a class="nav-link" href="gestion_padrinos.html">
      <i class="fas fa-fw fa-users text-info"></i><span class="text-info font-weight-bold">Gestión Padrinos</span>
    </a>
  </li>

  <li class="nav-item admin-only">
    <a class="nav-link" href="ver_buzon.html">
      <i class="fas fa-fw fa-envelope-open-text text-warning"></i><span class="text-warning font-weight-bold">Buzón de Sugerencias</span>
    </a>
  </li>
  
  <hr class="sidebar-divider" />
  
  <li class="nav-item">
    <a class="nav-link" href="perfil.html"
      ><i class="fas fa-fw fa-user"></i><span>Mi Perfil Forestal</span></a
    >
  </li>
  
  <hr class="sidebar-divider d-none d-md-block" />
  
  <li class="nav-item mt-auto">
    <a
      class="nav-link text-danger font-weight-bold"
      href="javascript:void(0);"
      onclick="window.cerrarSesion(event)"
    >
      <i class="fas fa-fw fa-sign-out-alt"></i><span>Cerrar Sesión</span>
    </a>
  </li>
</ul>